---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: set2
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
      - services
      - configmaps
      - serviceaccounts
    verbs:
      - get
      - list
  - apiGroups:
      - "apps"
    resources:
      - deployments
    verbs:
      - get
      - list
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - roles
      - rolebindings
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: set2
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: set2
subjects:
  - kind: ServiceAccount
    name: {{ .Values.kubeteach.serviceAccount.name }}
    namespace: {{ .Release.Namespace }}
